In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('recleaned_df.csv')

In [15]:
df.columns

Index(['price', 'propertyType', 'size', 'exterior', 'rooms', 'bathrooms',
       'address', 'province', 'municipality', 'latitude', 'longitude',
       'status', 'newDevelopment', 'hasLift', 'priceByArea', 'hasParkingSpace',
       'isParkingSpaceIncludedInPrice', 'parkingSpacePrice',
       'groupDescription', 'typology', 'subTypology'],
      dtype='object')

In [16]:
df['province'].unique()

array(['Madrid', 'Guadalajara', 'Toledo', 'Segovia', 'Las Palmas',
       'Ávila'], dtype=object)

In [17]:
df['municipality'].nunique()

205

In [18]:
df = df[df['province'] == 'Madrid']

In [19]:
df

,price,propertyType,size,exterior,rooms,bathrooms,address,province,municipality,latitude,...,status,newDevelopment,hasLift,priceByArea,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice,groupDescription,typology,subTypology
0,295000.0,flat,67.0,True,1,1,Calle de los Misterios,Madrid,Madrid,40.441226,...,good,False,False,4403.0,False,False,NaN,NaN,flat,standardFlat
1,710000.0,chalet,172.0,False,2,2,barrio Concepción,Madrid,Madrid,40.441675,...,renew,False,False,4128.0,True,True,NaN,NaN,chalet,semidetachedHouse
2,800000.0,flat,101.0,True,2,2,barrio Concepción,Madrid,Madrid,40.441166,...,newdevelopment,True,True,7921.0,True,True,NaN,NaN,flat,standardFlat
3,995000.0,flat,190.0,True,3,2,barrio Concepción,Madrid,Madrid,40.441759,...,newdevelopment,True,True,5237.0,True,True,NaN,NaN,flat,standardFlat
4,1020000.0,flat,177.0,True,3,2,barrio Concepción,Madrid,Madrid,40.440526,...,newdevelopment,True,True,5763.0,True,True,NaN,NaN,flat,standardFlat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14700,830000.0,flat,175.0,True,5,4,Calle de Hilarión Eslava,Madrid,Madrid,40.435605,...,good,False,True,4743.0,False,False,NaN,NaN,flat,standardFlat
14701,889000.0,flat,118.0,True,2,2,Mesonero Romanos,Madrid,Madrid,40.420548,...,good,False,True,7534.0,False,False,NaN,Destacado,flat,standardFlat
14702,4200000.0,flat,471.0,True,6,5,Calle de Velázquez,Madrid,Madrid,40.425091,...,good,False,True,8917.0,True,True,NaN,Destacado,flat,standardFlat
14703,1050000.0,duplex,233.0,True,3,4,barrio Nuevos Ministerios-Ríos Rosas,Madrid,Madrid,40.444252,...,good,False,True,4506.0,False,False,NaN,NaN,flat,duplex
14704,919000.0,flat,112.0,False,3,3,barrio Sol,Madrid,Madrid,40.419627,...,good,False,True,8205.0,False,False,NaN,NaN,flat,standardFlat