In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('leganes.csv', index_col = 0)
df.shape

(1349, 43)

In [23]:
df = df[['price', 'propertyType', 'size', 'exterior', 'rooms',
         'bathrooms', 'address', 'province', 'municipality',
         'latitude', 'longitude', 'status', 'newDevelopment', 'hasLift',
         'parkingSpace', 'priceByArea', 'detailedType', 'highlight']]

In [24]:
df

,price,propertyType,size,exterior,rooms,bathrooms,address,province,municipality,latitude,longitude,status,newDevelopment,hasLift,parkingSpace,priceByArea,detailedType,highlight
0,138795.0,flat,72.0,True,3,1,barrio Vírgenes,Madrid,Leganés,40.328098,-3.771660,good,False,False,NaN,1928.0,{'typology': 'flat'},NaN
1,117000.0,flat,59.0,NaN,2,1,barrio Vírgenes,Madrid,Leganés,40.327106,-3.771311,good,False,False,NaN,1983.0,{'typology': 'flat'},NaN
2,154900.0,flat,52.0,True,1,1,barrio Vírgenes,Madrid,Leganés,40.327852,-3.769317,good,False,True,NaN,2979.0,{'typology': 'flat'},NaN
3,291000.0,flat,151.0,NaN,3,3,Calle el Charco,Madrid,Leganés,40.329793,-3.769495,good,False,True,NaN,1927.0,{'typology': 'flat'},NaN
4,310000.0,flat,129.0,True,3,2,Perú,Madrid,Leganés,40.330205,-3.770084,good,False,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",2403.0,{'typology': 'flat'},{'groupDescription': 'Destacado'}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,160000.0,flat,90.0,True,3,1,Paseo de Vigo,Madrid,Fuenlabrada,40.294182,-3.808867,good,False,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",1778.0,{'typology': 'flat'},NaN
1345,220000.0,flat,101.0,True,3,2,Calle Valladolid,Madrid,Alcorcón,40.341681,-3.827613,good,False,True,NaN,2178.0,{'typology': 'flat'},NaN
1346,174900.0,flat,102.0,True,4,1,barrio Buena Vista,Madrid,Madrid,40.370577,-3.749878,good,False,False,NaN,1715.0,{'typology': 'flat'},NaN
1347,219000.0,flat,109.0,True,4,2,Calle del Grafito,Madrid,Madrid,40.347064,-3.717380,good,False,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",2009.0,{'typology': 'flat'},{'groupDescription': 'Destacado'}
1348,110500.0,flat,62.0,True,2,1,GOMEZ DE ARTECHE,Madrid,Madrid,40.371140,-3.751769,good,False,False,NaN,1782.0,{'typology': 'flat'},NaN

In [25]:
# Exterior cleaned
df['exterior'] = df['exterior'].fillna(False)

In [26]:
# hasLift cleaned
df['hasLift'] = df['hasLift'].fillna(False)

In [27]:
# highlight cleaned
df['highlight'] = df['highlight'].fillna("{'groupDescription': None}")

In [28]:
# parkingSpace cleaned
df['parkingSpace'] = df['parkingSpace'].fillna("{'hasParkingSpace': False, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': None}")

# Feature engineering

In [29]:
# parkingSpace included fixed
df['parkingSpace'] = df['parkingSpace'].apply(lambda x: "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True, 'parkingSpacePrice': None}" if x == "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}" else x)

In [30]:
# unique parkingSpaces are now consistent
df['parkingSpace'].unique()

array(["{'hasParkingSpace': False, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': None}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True, 'parkingSpacePrice': None}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 15000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 5000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 4000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 12000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 16000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 13000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 6000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 11000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 5500.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 19000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 25000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 65.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 8000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 40000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 18000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 20000.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 13500.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 21000.0}"],
      dtype=object)

In [31]:
# fixing detailedType
df['detailedType'] = df['detailedType'].apply(lambda x: "{'typology': 'flat', 'subTypology': 'standardFlat'}" if x == "{'typology': 'flat'}" else x)
df['detailedType'] = df['detailedType'].apply(lambda x: "{'typology': 'chalet', 'subTypology': 'standardChalet'}" if x == "{'typology': 'chalet'}" else x)

In [32]:
# Converting string of dicts --> dicts

from ast import literal_eval # Library for string evaluation

df['parkingSpace'] = df['parkingSpace'].apply(literal_eval)
df['highlight'] = df['highlight'].apply(literal_eval)
df['detailedType'] = df['detailedType'].apply(literal_eval)

In [33]:
df = pd.concat([df,
           pd.json_normalize(df['parkingSpace']),
           pd.json_normalize(df['highlight']),
           pd.json_normalize(df['detailedType'])],
          axis = 1)

In [34]:
df

,price,propertyType,size,exterior,rooms,bathrooms,address,province,municipality,latitude,...,parkingSpace,priceByArea,detailedType,highlight,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice,groupDescription,typology,subTypology
0,138795.0,flat,72.0,True,3,1,barrio Vírgenes,Madrid,Leganés,40.328098,...,"{'hasParkingSpace': False, 'isParkingSpaceIncl...",1928.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': None},False,False,NaN,None,flat,standardFlat
1,117000.0,flat,59.0,False,2,1,barrio Vírgenes,Madrid,Leganés,40.327106,...,"{'hasParkingSpace': False, 'isParkingSpaceIncl...",1983.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': None},False,False,NaN,None,flat,standardFlat
2,154900.0,flat,52.0,True,1,1,barrio Vírgenes,Madrid,Leganés,40.327852,...,"{'hasParkingSpace': False, 'isParkingSpaceIncl...",2979.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': None},False,False,NaN,None,flat,standardFlat
3,291000.0,flat,151.0,False,3,3,Calle el Charco,Madrid,Leganés,40.329793,...,"{'hasParkingSpace': False, 'isParkingSpaceIncl...",1927.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': None},False,False,NaN,None,flat,standardFlat
4,310000.0,flat,129.0,True,3,2,Perú,Madrid,Leganés,40.330205,...,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",2403.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': 'Destacado'},True,True,NaN,Destacado,flat,standardFlat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,160000.0,flat,90.0,True,3,1,Paseo de Vigo,Madrid,Fuenlabrada,40.294182,...,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",1778.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': None},True,True,NaN,None,flat,standardFlat
1345,220000.0,flat,101.0,True,3,2,Calle Valladolid,Madrid,Alcorcón,40.341681,...,"{'hasParkingSpace': False, 'isParkingSpaceIncl...",2178.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': None},False,False,NaN,None,flat,standardFlat
1346,174900.0,flat,102.0,True,4,1,barrio Buena Vista,Madrid,Madrid,40.370577,...,"{'hasParkingSpace': False, 'isParkingSpaceIncl...",1715.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': None},False,False,NaN,None,flat,standardFlat
1347,219000.0,flat,109.0,True,4,2,Calle del Grafito,Madrid,Madrid,40.347064,...,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",2009.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': 'Destacado'},True,True,NaN,Destacado,flat,standardFlat
1348,110500.0,flat,62.0,True,2,1,GOMEZ DE ARTECHE,Madrid,Madrid,40.371140,...,"{'hasParkingSpace': False, 'isParkingSpaceIncl...",1782.0,"{'typology': 'flat', 'subTypology': 'standardF...",{'groupDescription': None},False,False,NaN,None,flat,standardFlat

In [35]:
del df['parkingSpace']
del df['highlight']
del df['detailedType']

In [36]:
df2 = df

In [37]:
df = pd.read_csv('recleaned_df.csv', index_col = 0)

In [38]:
df.columns == df2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [39]:
combined = pd.concat([df, df2], axis = 0)
combined.shape

(10300, 21)

In [43]:
combined = combined.drop_duplicates()
combined

,price,propertyType,size,exterior,rooms,bathrooms,address,province,municipality,latitude,...,status,newDevelopment,hasLift,priceByArea,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice,groupDescription,typology,subTypology
0,335000.0,flat,136.0,True,3,2,SIGRID,Madrid,Rivas-Vaciamadrid,40.352160,...,good,False,True,2463.0,True,True,NaN,Destacado,flat,standardFlat
1,1650000.0,flat,179.0,True,2,3,Calle del Príncipe de Vergara,Madrid,Madrid,40.433593,...,good,False,True,9218.0,True,True,NaN,Destacado,flat,standardFlat
2,770000.0,flat,109.0,True,2,2,barrio Ibiza,Madrid,Madrid,40.416551,...,good,False,True,7064.0,False,False,NaN,Destacado,flat,standardFlat
3,175000.0,flat,49.0,True,1,1,"Calle de los Morales, 10",Madrid,Madrid,40.361994,...,good,False,True,3571.0,True,False,25000.0,Destacado,flat,standardFlat
4,280000.0,flat,121.0,True,4,2,Calle del Río Ulla,Madrid,Madrid,40.432982,...,good,False,False,2314.0,False,False,NaN,Destacado,flat,standardFlat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,160000.0,flat,90.0,True,3,1,Paseo de Vigo,Madrid,Fuenlabrada,40.294182,...,good,False,True,1778.0,True,True,NaN,None,flat,standardFlat
1345,220000.0,flat,101.0,True,3,2,Calle Valladolid,Madrid,Alcorcón,40.341681,...,good,False,True,2178.0,False,False,NaN,None,flat,standardFlat
1346,174900.0,flat,102.0,True,4,1,barrio Buena Vista,Madrid,Madrid,40.370577,...,good,False,False,1715.0,False,False,NaN,None,flat,standardFlat
1347,219000.0,flat,109.0,True,4,2,Calle del Grafito,Madrid,Madrid,40.347064,...,good,False,True,2009.0,True,True,NaN,Destacado,flat,standardFlat
1348,110500.0,flat,62.0,True,2,1,GOMEZ DE ARTECHE,Madrid,Madrid,40.371140,...,good,False,False,1782.0,False,False,NaN,None,flat,standardFlat

In [44]:
combined.to_csv('recleaned_df.csv')

# Recleaned

In [45]:
combined

,price,propertyType,size,exterior,rooms,bathrooms,address,province,municipality,latitude,...,status,newDevelopment,hasLift,priceByArea,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice,groupDescription,typology,subTypology
0,335000.0,flat,136.0,True,3,2,SIGRID,Madrid,Rivas-Vaciamadrid,40.352160,...,good,False,True,2463.0,True,True,NaN,Destacado,flat,standardFlat
1,1650000.0,flat,179.0,True,2,3,Calle del Príncipe de Vergara,Madrid,Madrid,40.433593,...,good,False,True,9218.0,True,True,NaN,Destacado,flat,standardFlat
2,770000.0,flat,109.0,True,2,2,barrio Ibiza,Madrid,Madrid,40.416551,...,good,False,True,7064.0,False,False,NaN,Destacado,flat,standardFlat
3,175000.0,flat,49.0,True,1,1,"Calle de los Morales, 10",Madrid,Madrid,40.361994,...,good,False,True,3571.0,True,False,25000.0,Destacado,flat,standardFlat
4,280000.0,flat,121.0,True,4,2,Calle del Río Ulla,Madrid,Madrid,40.432982,...,good,False,False,2314.0,False,False,NaN,Destacado,flat,standardFlat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,160000.0,flat,90.0,True,3,1,Paseo de Vigo,Madrid,Fuenlabrada,40.294182,...,good,False,True,1778.0,True,True,NaN,None,flat,standardFlat
1345,220000.0,flat,101.0,True,3,2,Calle Valladolid,Madrid,Alcorcón,40.341681,...,good,False,True,2178.0,False,False,NaN,None,flat,standardFlat
1346,174900.0,flat,102.0,True,4,1,barrio Buena Vista,Madrid,Madrid,40.370577,...,good,False,False,1715.0,False,False,NaN,None,flat,standardFlat
1347,219000.0,flat,109.0,True,4,2,Calle del Grafito,Madrid,Madrid,40.347064,...,good,False,True,2009.0,True,True,NaN,Destacado,flat,standardFlat
1348,110500.0,flat,62.0,True,2,1,GOMEZ DE ARTECHE,Madrid,Madrid,40.371140,...,good,False,False,1782.0,False,False,NaN,None,flat,standardFlat